%p LigerCat is performing a live search to NLM Journals using the eUtils API. This allows LigerCat to download and analyze the journals returned by your query.
%p.bottom Ligercat uses a unique algorithm to iteratively expand your search terms based on commonalities in the search results.