%p LigerCat is performing a live search to PubMed using the eUtils API. This allows LigerCat to download all the PubMed articles returned by your query and their MeSH descriptors.
%p.bottom When all the MeSH descriptors are gathered, LigerCat uses a statistical model to identify relevant descriptors, then sums them by frequency to create the MeSH tag clouds.