- form_tag(new_article_path, {:method => 'get', :class=>'search_form container'}) do
  %fieldset
    - query_string = @query.display_query rescue nil
    = articles_text_field_tag(query_string)
    = submit_tag 'Search', :name => nil