.text_wrapper
  .col-4
    %h2 Search Articles
    %p Just like you would at PubMed
    
  .col-4
    %h2 Explore Tag Clouds
    %p Built from the results of your PubMed search

  .col-4
    %h2 Craft Queries to PubMed 
    %p By clicking on MeSH Descriptors

  .col-4.last
    %h2 View Publication History
    %p Articles by year, click to view in PubMed

.image_wrapper
  .col-4
    .screenshot
      = image_tag 'articles_search_articles.gif'
      <span class="label">Screenshot</span>

  .col-4
    .screenshot
      = image_tag 'articles_tag_cloud.gif'
      <span class="label">Screenshot</span>

  .col-4
    .screenshot
      = image_tag 'articles_live_search.gif'
      <span class="label">Screenshot</span>

  .col-4.last
    .screenshot
      = image_tag 'articles_histogram.gif'
      <span class="label">Screenshot</span>
