#citation_information.container
  .brought_to_you_by.col-6
    %p LigerCat is brought to you by the <a href="http://aging.ubio.org/blog/?page_id=36/" class="external_link">Biology of Aging</a> project at the <a href="http://www.mblwhoilibrary.org"  class="external_link">MBLWHOI Library</a>
    %p
      =image_link 'logo_boa.gif',  'http://www.biologyofaging.org/', :alt =>'Logo of the Biology of Aging'
      =image_link 'logo_mblwhoi.gif',  'http://www.mblwhoilibrary.org/', :alt =>'Logo of the MBL-WHOI Library'
      =image_link 'logo_nlm.gif',  'http://www.nlm.nih.gov/', :alt =>'Logo of the National Library of Medicine'
      =image_link 'logo_nih.gif',  'http://www.nih.gov/',     :alt => 'Logo of the National Institutes of Health'
      =image_link 'logo_dhhs.gif', 'http://www.hhs.gov/',     :alt => 'Logo of the U.S. Department of Health and Human Services'
      =image_link 'logo_ellison.gif','http://www.ellisonfoundation.org', :alt => 'Logo of the Ellison Medical Foundation'
  .contact_links.col-3.last
    = link_to 'Contact Us', '/about#contact_us'
    %br/
    = link_to 'Citation Information', '/about#citation'