.error
  %h3 Crikey!
  %p LigerCat has encountered an error with this query. We have been notified of the problem, and will be investigating it as soon as we can. Please check back later at this same URL, or #{ link_to("contact us", "/about#contact_us") } if the problem persists.
