

ul.ui-tabs-nav { /* general settings */
text-align: left; /* set to left, right or center */
margin: 1em 0 0; /* set margins as desired */
border-bottom: 1px solid #b9b9f5; /* set border COLOR as desired */
list-style-type: none;
padding: 3px 0 0; /* THIRD number must change with respect to padding-top (X) below */
}

ul.ui-tabs-nav li { /* do not change */
display: inline;
}

body ul.ui-tabs-nav li.ui-state-active { /* settings for active tab */
border-bottom: 1px solid #fff; /* set border color to page background color */
background-color: #fff; /* set background color to match above border color */
}

body ul.ui-tabs-nav li.ui-state-active a { /* settings for active tab link */
	background-color: #ededff; /* set active tab background color as desired */
	color: #6e6ec4; /* set active tab link color as desired */
	position: relative;
	top: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

ul.ui-tabs-nav li a { /* settings for all tab links */
	padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	border: 1px solid #b9b9f5; /* set border COLOR as desired; usually matches border color specified in .ui-tabs-nav */
	background-color: #b9b9f5; /* set unactive tab background color as desired */
	color: #fff; /* set unactiveactive tab link color as desired */
	margin-right: 3px; /* set additional spacing between tabs as desired */
	font-weight: bold;
	text-decoration: none;
	border-bottom: none;
}

ul.ui-tabs-nav a:hover { /* settings for hover effect */
	background-color: #c3c3f4;
	text-decoration: none;
}

