login: &login
  adapter: mysql2
  username: user
  password: password
  host: mysql.example.com

development:
  <<: *login
  database: ligercat_development

test:
  <<: *login
  database: ligercat_test

production:
  <<: *login
  database: ligercat_prod