require 'bundler/capistrano'        # Handles gems
require 'rvm/capistrano'

set :rvm_ruby_string, '1.9.3'
set :rvm_type, :system

set :scm, :git
set :application, "ligercat"
set :repository,  "https://github.com/mbl-cli/LigerCat.git"

ssh_options[:username] = 'meow'
set :use_sudo, false
default_run_options[:pty] = true

set :deploy_via, :remote_cache
set :deploy_to, "/var/www/#{application}"

set :unicorn_bin, "unicorn_rails"
require 'capistrano-unicorn'

# whenever
set :whenever_command, "bundle exec whenever"
set :whenever_roles, ["app"]
require 'whenever/capistrano'

# precompile assets on web servers
namespace :assets do
  desc "Precompile assets"
  task :precompile, :roles => [:web] do
    run "cd #{release_path};bundle exec rake assets:precompile"
  end
end

namespace :blast_binary do
  desc "Make symlink to the correct blast binary"
  task :symlink do
    run "ln -nfs #{release_path}/lib/blast_bin/blastn-linux #{release_path}/lib/blast_bin/blastn"
    run "ln -nfs #{release_path}/lib/blast_bin/tblastn-linux #{release_path}/lib/blast_bin/tblastn"
  end
end

namespace :database_yml do
  desc "Make symlink for database.yml"
  task :symlink do
    run "ln -nfs #{shared_path}/config/database.yml #{release_path}/config/database.yml"
  end
end

namespace :unicorn do
  desc "Symlink unicorn config"
  task :symlink, :roles => :web do
    run "mkdir -p #{release_path}/config/unicorn/"
    run "ln -nfs #{deploy_to}/#{shared_dir}/config/unicorn/#{rails_env}.rb #{release_path}/config/unicorn/#{rails_env}.rb"
  end
end

namespace :private_yml do
  desc "Make symlink for private.yml"
  task :symlink do
    run "ln -nfs #{shared_path}/config/private.yml #{release_path}/config/private.yml"
  end
end

namespace :redis_yml do
  desc "Make symlink for redis.yml"
  task :symlink do
    run "ln -nfs #{shared_path}/config/redis.yml #{release_path}/config/redis.yml"
  end
end

namespace :seeds do
  desc "Make symlink for seeds directory"
  task :symlink do
    run "mkdir -p #{release_path}/public/seeds/"
    run "ln -nfs #{shared_path}/seeds/ #{release_path}/public/seeds/"
  end
end

namespace :eol_clouds do
  desc "Make symlink for EOL clouds files directory"
  task :symlink do
    run "ln -nfs #{shared_path}/public/eol_ids_with_clouds.txt.gz #{release_path}/public/eol_ids_with_clouds.txt.gz"
    run "ln -nfs #{shared_path}/public/eol_ids_with_clouds.md5 #{release_path}/public/eol_ids_with_clouds.md5"
  end
end

namespace :resque do
  desc "stop,start or restart resque worker process"
  task :start, :roles => [:worker_bee], :on_no_matching_servers => :continue do
    sudo "/usr/sbin/service ligercat-worker start"
  end
  task :stop, :roles => [:worker_bee], :on_no_matching_servers => :continue do
    sudo "/usr/sbin/service ligercat-worker stop"
  end
  task :restart, :roles => [:worker_bee], :on_no_matching_servers => :continue do
    sudo "/usr/sbin/service ligercat-worker restart"
  end 
end


# for rvm installs, we need to ask rvm to trust the rvmrc
namespace :rvm do
  task :trust_rvmrc do
    run "rvm rvmrc trust #{release_path}"
  end
end

namespace :shiz do
  desc "Update application version number"
  task :set_version do
    set :tag, variables[:tag] ? variables[:tag] : 'unknown'
    puts '#' * 80
    puts "v.#{tag}"
    puts '#' * 80
    run "perl -i.bak -pe 's/(config.app_version\\s*?=\\s*?'\\'').*?('\\'')/$1v.#{tag}$2/'  #{release_path}/config/application.rb"
  end
end

after "deploy", "rvm:trust_rvmrc"

after 'deploy:update_code', 'database_yml:symlink', 'unicorn:symlink', 'private_yml:symlink', 'redis_yml:symlink', 'blast_binary:symlink', 'seeds:symlink', 'eol_clouds:symlink', 'resque:restart', 'shiz:set_version'


role :app, "meow"
role :web, "meow"


#TODO populate from call to chef
role :worker_bee, "meow"
role :worker_bee, "meow"

role :worker_bee, "meow"
role :worker_bee, "meow"
role :worker_bee, "meow"
role :worker_bee, "meow"
role :worker_bee, "meow"
