# Shared host and port configuration to keep things DRY below
dev_host: &dev_host
  host: 'localhost'
  port: 6379

test_host: &test_host
  host: 'localhost'
  port: 6379

prod_host: &prod_host
  hosts:
    - 'prodhost1:6379'
    - 'prodhost2:6379'


# Shared database configuration to keep things DRY below
mesh_database: &mesh_database
  database: 0

date_database: &date_database
  database: 1


# This Redis DB contains pmid -> mesh_id mappings
mesh_development:
  <<: *dev_host
  <<: *mesh_database

mesh_test:
  <<: *test_host
  <<: *mesh_database

mesh_production:
  <<: *prod_host
  <<: *mesh_database
  
# This Redis DB contains pmid -> date_published mappings
date_published_development:
  <<: *dev_host
  <<: *date_database

date_published_test:
  <<: *test_host
  <<: *date_database

date_published_production:
  <<: *prod_host
  <<: *data_database