%h1 About LigerCat
%p LigerCat was created as part of the <a href="http://aging.ubio.org/blog/?page_id=36/" class="external_link">Biology of Aging</a> project at the <a href="http://www.mblwhoilibrary.org" class="external_link">MBLWHOI Library</a> at the <a href="http://www.mbl.edu" class="external_link">Woods Hole Marine Biological Laboratory</a>.
%p LigerCat is a search tool for <a href="http://www.ncbi.nlm.nih.gov/pubmed/" class="external_link" title="PubMed Homepage">NCBI's PubMed</a> that uses <span class="highlight">tag clouds</span> to provide an overview of important concepts and trends. LigerCat aggregates multiple articles in PubMed, summing their <abbr title="Medical Subject Headings">MeSH</abbr> descriptors and presenting them in a cloud, weighted by frequency.
%p Medical Subject Headings (MeSH) is a large controlled vocabulary created and maintained by the <a href="http://www.nlm.nih.gov/" class="external_link" title="NLM Homepage">National Library of Medicine</a> to categorize and index journal articles in the life sciences. MeSH descriptors are <span class="highlight">akin to tags</span> in a blog post, but scientific articles are tagged with MeSH descriptors by respected librarians and scientists.
%p In addition to providing a visual overview of a set of PubMed articles, LigerCat can <span class="highlight">search PubMed in realtime</span>. Simply click on one or more MeSH descriptors in a tag cloud to search PubMed for those terms instantly.
%h2#citation Cite
%p
  Please cite this resource as show below. The full text for this article is available at <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2815376/" class="external_link">PubMed Central</a>.
  %cite LigerCat: using “MeSH Clouds” from journal, article, or gene citations to facilitate the identification of relevant biomedical literature. Sarkar IN, Schenk R, Miller H, Norton CN. AMIA Annu Symp Proc. 2009 Nov 14;2009:563-7.
#contact_area
  %h2#contact_us Contact Us
  .flash.success= flash[:notice]
  
  = render(:partial => 'email_form') if flash[:notice].nil?