- form_tag({:controller => 'journals', :action => 'index'}, {:method => 'get', :class=>'search_form container'}) do
  %fieldset
    - query_string = @query.query rescue nil
    = journals_text_field_tag(query_string)
    = submit_tag 'Search', :name => nil

  -##q_auto_complete.auto_complete
  -#= auto_complete_field 'q', :url => {:controller => 'journals', :action=>'auto_complete_for_expanded_journal_keyword'}
    