.col-4
  %h2 Find Journals
  %p Type subject terms into the search bar.
  .screenshot
    = image_tag 'journals_find_journals.gif'
    <span class="label">Screenshot</span>
    

.col-4
  %h2 Select Journals of Interest
  %p Click the checkbox next to the item.
  .screenshot
    = image_tag 'journals_select_journals.gif'
    <span class="label">Screenshot</span>
    

.col-4
  %h2 Explore Tag Clouds
  %p Built from your selected journals.
  .screenshot
    = image_tag 'journals_tag_cloud.gif'
    <span class="label">Screenshot</span>


.col-4.last
  %h2 Craft Queries to PubMed 
  %p By clicking on MeSH Descriptors
  .screenshot
    = image_tag 'journals_live_search.gif'
    <span class="label">Screenshot</span>
