- content_for :content do
  #intro_copy.container
    .search_pubmed_articles.col-3
      %h2 Search PubMed Articles
      %p Search <a href="http://www.ncbi.nlm.nih.gov/pubmed/" class="external_link" title="PubMed Homepage">PubMed</a> using words or even a DNA/protein sequence to create a <span class="highlight">tag cloud</span> showing an overview of important concepts and trends. LigerCat aggregates multiple articles in PubMed, combining the associated <abbr title="Medical Subject Headings">MeSH</abbr> descriptors into a cloud, weighted by frequency.
    .visualize_mesh_descriptors.col-3
      %h2 Visualize MeSH Descriptors
      %p Medical Subject Headings (<a href="http://www.nlm.nih.gov/mesh/meshhome.html" class="external_link" title="MeSH Homepage">MeSH</a>) is a <span class="highlight">controlled vocabulary</span> created and maintained by the National Library of Medicine and applied to categorize and index journal articles in biomedical science.
    .search_from_tag_clouds.col-3.last
      %h2 Search from Tag Clouds
      %p Simply click on one or more MeSH descriptors in a tag cloud to <span class="highlight">instantly search PubMed</span> for those terms instantly. Selecting more than one term finds articles tagged with all selected MeSH descriptors.
  #contextualized_copy
    .container= content_for?(:home_content) ? yield(:home_content) : yield 

- content_for :footer do
  = render 'shared/brought_to_you_by'

= render :template => 'layouts/application'