-content_for :content do 
  #content.container.with_sidebar
    #sidebar
      %ul
        %li= link_to 'Help', '#help'
        =yield :sidebar_tabs
      
      #help.sidebar_panel=yield :help
      =yield :sidebar_panels

    #main_content= yield :layout
= render :template => 'layouts/application'